name: Weekly Link Check

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * 0"

jobs:
  check-links:
    runs-on: ubuntu-latest
    permissions:
      issues: write # Required for peter-evans/create-issue-from-file
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Enable Corepack
        run: corepack enable
      - name: Install, build, and upload your site
        uses: withastro/action@v5
      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v2
        with:
          args: --config ./lychee.toml --no-progress "./dist/**/*.html"
          fail: false
      - name: Create Issue from Report
        if: steps.lychee.outputs.exit_code != 0
        uses: peter-evans/create-issue-from-file@v6
        with:
          title: Link Checker Report
          content-filepath: ./lychee/out.md
          labels: |
            broken-links
            documentation
